name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /root/rksi2025/
            git pull origin main

            cat > /root/rksi2025/backend/config/config.toml << 'EOF'
            ${{ secrets.BACKEND_TOML_CONF }}
            EOF
            
            docker compose up --build -d
